<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="well" style="display:flex;justify-content:end;">
    <%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products center-align">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Total Product Count</th>
          <th colspan="2">Total Category Count</th>
        </tr>
      </thead>
      <tbody>
        <td colspan="2"><%= total_product_count %></td>
        <td colspan="2"><%= total_category_count %></td>
      </tbody>
    </table>

  </div>

</section>
